@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 콘텐츠 내 디자인 */
#content {
  color: #363636;
  font-size: 0.9rem;
}

#content a {
  text-decoration: none;
  color: #0d6efd;
  border-bottom: 2px solid #0d6efd;
}

#content table {
  border: 1px solid #c8c8c8;
  border-collapse: collapse;
}

#content th {
  background-color: #c8c8c8;
}

#content td {
  padding: 0.3em;
  border: 1px solid #c8c8c8;
}

#content tr:nth-child(2n) {
  background-color: #f8f8f8;
}

#content code {
  padding: 3px;
  background-color: #e9f2ff;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
